body{
    background-color: blue;
    color: red;
    text-align: center;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
}
ol{
    text-align: left;
}